nav {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    gap: 15px;
    flex-wrap: wrap;
    font-weight: bolder;
    margin-bottom: 100px;
  }

  nav > a > img {
    width: 150px;
  }

  nav li:hover {
    color: var(--highlight);
    transform: scale(1.1);
    transition: 1s ease;
  }
   nav li a {
    background-color: aqua;
  }
  nav li a:target {
    background-color: rgb(0, 0, 0);
  }
  
  @media (max-width: 770px) {
    nav {
      padding: 0 2rem;
    }
  }
  
  nav > ul {
    display: flex;
    gap: 3rem;
  }
  
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
  }
  
  nav a {
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: var(--highlight);
  }


  

.enlace {
  display: inline-block;
  padding: 10px 16px;
  background-color: #bde0fe;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.enlace:hover {
  background-color: #a2d2ff;
}

.enlace.activo {
  background-color: #ffc6ff;
  color: white;
}
