
.gamedays {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 45px;
    font-weight: bold;
    text-align: center;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
}

article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: rgb(255, 183, 94);
}

section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

article, section {
    border: 3px solid black;
    border-radius: 5px
}

#teamsPuntos {
    background-color: rgb(216, 183, 221);
}